{% extends 'adminer/adminer_base.html' %}
{% block title %}
    文章编辑
{% endblock %}
{% block main-body %}
{#    <div style="display: none">{{ form.as_table }}</div>#}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12">
                <div class="horizontal-center-block"  style="width: 100%;">
                    <table class="table table-bordered horizontal-center-block">
                        <tr>
                            <td>
                                文章标题<hr>
                                <select name = "newsType" class="btn label-default" style="width: 9%;">
                                    <option value="original">原创</option>
                                    <option value="reprint">转载</option>
                                </select>
                                <input name = "newsTitle" type="text" class="form-control" style="width:90%;display: inline;" value="{{ news.title }}">
                            </td>
                        </tr>
                        <tr>
                            <td id="father">
                                文章内容<hr>
                                <div id="id_content1" style="width:100%; height: 400px;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                摘要<hr>
                                <textarea name="abstract" style="width: 100%; border-radius: 6px;" rows="5">
                                    {{ news.author }}
                                </textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
                <div class="col-md-offset-5 col-md-1 col-sm-6">
                    <button name = "save" class="btn btn-success">立即发表</button>
                </div>
                <div class="col-md-1 col-sm-6">
                    <button class="btn btn-danger">放弃发表</button>
                </div>
            </div>
        </div>
    </div>
    <div name="news_id" style="display:none;">{{ news.news_id }}</div>
{% endblock %}
{% block special_js %}
    <script>
        $("[name=save]").on("click", function(){
            var id_content = UE.getEditor('id_content1');
            var title = $("[name=newsTitle]").val();
            var content = id_content.getContent();
            var abstract = $("[name=abstract]").val();

            if(title == ""){
                alert("请填写标题");
                return;
            }
            if(content == ""){
                alert("请填写内容");
                return;
            }
            var news_id = $("[name=news_id]").html();
            console.log(news_id);

            var formdata = new FormData();
            formdata.append("title", title);
            formdata.append("content", content);
            formdata.append("abstract", abstract);
            formdata.append("news_id", news_id);
            $.ajax({
                url: '/adminxl/news/edit/',
                type : "POST",
                cache : false,
                data : formdata,
                processData : false,
                contentType : false
            }).done(function(res){
                if(res == "success"){
                    alert("保存成功");
                    window.location.href = "/adminxl/data/";
                }
            }).fail(function(res){
                alert("请稍后再试");
            });

        });
    </script>
    <script type="text/javascript">
        $(function(){
            var content = '{{ news.content | safe }}';
            var w = $("#father").width();
            console.log(w);
            var id_content = UE.getEditor('id_content1',{'initialFrameWidth': w, 'initialFrameHeight': 300, 'serverUrl': '/ueditor/controller/?imagePathFormat=ItemMaterial/&filePathFormat=ItemMaterial/'});
            id_content.ready(function(){
                id_content.setContent(content);
            });
        });
    </script>
{% endblock %}