{% extends 'adminer/adminer_base.html' %}
{% block title %}
    欢迎使用智慧平台管理系统
{% endblock %}
{% block special_css %}
{% endblock %}
{% block main-body %}
    <div class="container admin-main-back">
        <div class="row clearfix">
            <div class="col-md-3 white-border clearfix">
                <div class="col-md-12 horizontal-center paddingTB-sm">张三</div>
                <div class="col-md-12 horizontal-center paddingTB-sm">最新数据：13000</div>
                <div class="col-md-12 horizontal-center paddingTB-sm">数据总量：330000</div>
                <div class="col-md-12 horizontal-center paddingTB-sm">文档总量：1000</div>
                <div class="col-md-12 horizontal-center paddingTB-sm">用户总量：2000</div>
                <div class="col-md-12 horizontal-center paddingTB-sm">今日报告：10</div>
                <div class="col-md-12 horizontal-center paddingTB-sm">今日用户访问量：1000</div>
            </div>
            <div class="col-md-9 col-sm-12 white-border">
                <div class="col-md-12">
                    <div class="col-md-12 bottom-border-info paddingTB-sm">
                        数据管理
                    </div>
                    <div class="col-md-12 bottom-border-info paddingTB-sm">
                        <div class="col-md-3">
                            <div class="btn btn-lg child-item horizontal-center">
                                <span class="glyphicon glyphicon-asterisk"></span>
                                空气数据
                            </div>
                        </div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">
                            <span class="glyphicon glyphicon-screenshot"></span>土壤数据
                        </div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">温度数据</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">水质数据</div></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 bottom-border-info paddingTB-sm">
                        文档管理
                    </div>
                    <div class="col-md-12 bottom-border-info paddingTB-sm">
                        <div class="col-md-3"><div class="btn btn-lg child-item">文档列表</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">发布文档</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">热门文档</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">备份文档</div></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 bottom-border-info paddingTB-sm">
                        资料管理
                    </div>
                    <div class="col-md-12 bottom-border-info paddingTB-sm">
                        <div class="col-md-3"><div class="btn btn-lg child-item">资料列表</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">添加资料</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">删除资料</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">资料备份</div></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 bottom-border-info paddingTB-sm">
                        软件管理
                    </div>
                    <div class="col-md-12 bottom-border-info paddingTB-sm">
                        <div class="col-md-3"><div class="btn btn-lg child-item">软件管理</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">添加软件</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">软件下载</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">软件备份</div></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12 bottom-border-info paddingTB-sm">
                        用户管理
                    </div>
                    <div class="col-md-12 bottom-border-info paddingTB-sm">
                        <div class="col-md-3"><div class="btn btn-lg child-item">用户列表</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">用户分类</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">软件下载</div></div>
                        <div class="col-md-3"><div class="btn btn-lg child-item">软件备份</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block special_js %}
    <script type="text/javascript">

    </script>
{% endblock %}