<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF8">
    <title>{% block title %}{% endblock %}</title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
{#    <meta name="viewport" content="width=1010">#}
	<link rel="stylesheet" type="text/css"  href = "/web_media/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href = "/web_media/css/style.css">
</head>
<body>
	<div class = "container container_opacity" style = "width:100%;padding-left:0;padding-right:0;">
		<header class = "light_blue">
			<div class="row clearfix light_gray nav-border">
				<nav class="navbar navbar-default light_gray head_item" role="navigation">
                    <div class="navbar-header">
                         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#weatherMenu">
                             <span class="sr-only">Toggle navigation</span>
                             <span class="icon-bar"></span><span class="icon-bar"></span>
                             <span class="icon-bar"></span>
                         </button>
                        <a class="navbar-brand" href="#">WSN</a>
                    </div>

                    <div class="collapse navbar-collapse" id="weatherMenu">
                        <ul class="nav navbar-nav">
                            <li>
                                 <a href="#">今天是2016-05-16</a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                 <a href="#mobileApp" data-toggle="modal">客户端下载</a>
                            </li>
                            <li>
                                 <a href="#">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </nav>
			</div>
			<div class = "row clearfix light_white" >
                <div class="row clearfix head_item">
                    <div class = "col-md-1 col-sm-4 padTB10 horizontal-center">
					    <img class = "img-circle"  src = "/web_media/images/gongpeng.png" width="40" height="40">
				    </div>
                    <div class = "col-md-offset-3 col-md-4 col-sm-8 padTB10 horizontal-center">
					    <span style="font-size: 20px;">wireless network sensor</span>
				    </div>
                    <div class = "col-md-2 hidden-xs col-md-offset-2 padTB10">
                        <span style="font-size: 20px;">北京 晴 30度</span>
                    </div>
                </div>
			</div>
            <div class="row clearfix navbar-inverse ">
				<div class = "row clearfix head_item head padTB5 navigation_item">
                    <div class = "col-md-2" id = "index">首页</div>
                    <div class = "col-md-2" id = "data">实时预报</div>
                    <div class = "col-md-2" id = "products">产品</div>
                    <div class = "col-md-2" id = "material">资料</div>
                    <div class = "col-md-2" id = "software">软件</div>
                    <div class = "col-md-2" id = "service">服务</div>
			    </div>
			</div>
		</header>
		{% block main_body %}
		{% endblock %}
	</div>
	<div class = "footer">
		<section class = "footer_up">
			<h2>友情链接</h2>
			<p>
				<a href="http://www.nmc.gov.cn/" target="_blank" rel="nofollow">中央气象台</a>
	             |<a href="http://www.weather.com/" target="_blank" rel="nofollow">美国气象频道</a>
	             |<a href="http://www.weather.com.cn/" target="_blank" rel="nofollow">中国天气网</a>
	             |<a href="http://www.pm25.com/" target="_blank" rel="nofollow">绿色呼吸</a>
	             |<a href="http://www.feeyo.com/" target="_blank" rel="nofollow">飞友网</a>
	             |<a href="http://i.firefoxchina.cn/?www.firefoxchina.cn" target="_blank" rel="nofollow">火狐浏览器</a>
	             |<a href="http://tianqitong.sina.cn/" target="_blank" rel="nofollow">天气通</a>
	             |<a href="http://weather.mipang.com" target="_blank" rel="nofollow">米胖天气</a>
	             |<a href="http://www.xn121.com/" target="_blank" rel="nofollow">兴农网</a>
	             |<a href="http://www.mlogcn.com/" target="_blank" rel="nofollow">象辑科技</a>
	             |<a href="http://www.tianqi.com/" target="_blank" rel="nofollow">天气网</a>
			</p>
		</section>
		<section class = "footer_down">
			<p>关于我们|联系我们|批评建议</p>
			<p>Copyright © 2016-2016 BNU, All Rights Reserved</p>
			<p>北京师范大学 版权所有</p>
		</section>
	</div>
	<!-- mobileApp Download -->
	<div class="modal fade" id="mobileApp" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title" id="myModalLabel">
						扫描一下，联系获取移动App
					</h4>
				</div>
				<div class="modal-body horizontal-center">
					<img alt="140x140" src="/web_media/images/mobileContact.jpeg" class="img-thumbnail" />
				</div>
				<div class="modal-footer">
					 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					 <!-- <button type="button" class="btn btn-primary">保存</button> -->
				</div>
			</div>
		</div>
	</div>

	<script type = "text/javascript" src = "/web_media/js/jquery-2.2.1.min.js"></script>
	<script type = "text/javascript" src = "/web_media/js/bootstrap.min.js"></script>
	<script type = "text/javascript" src = "/web_media/js/highcharts.js"></script>
	<script type = "text/javascript" src = "/web_media/js/highcharts-more.js"></script>
	<script type = "text/javascript" src = "/web_media/js/canvasjs.min.js"></script>

	<!--[if lt IE 9]>
  		<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  		<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script type = "text/javascript" src = /web_media/js/painting.js></script>
	<script type = "text/javascript" src = /web_media/js/wsn.js></script>
	{% block js %}
	{% endblock %}
</body>
</html>


