{% extends "base.html" %}
{% block title %} data  preview {% endblock %}
{% block main_body %}
	<div class = "main_body middle">
		<div class = "dataInfo">
			<table class = "table table-bordered">
				<tr><td>卫星名：</td><td colspan="3">FY-3C</td></tr>
				<tr><td>文件名称：</td><td colspan="3">FY3C_ERBMX_ORBT_L2_FTS_MLT_NUL_20160415_2317_028KM_MS.HDF</td></tr>
				<tr><td>产品名称：</td><td colspan="3">ERBM扫描视场大气顶辐射和云轨道产品</td></tr>
				<tr><td>接收站标识：</td><td> MS</td><td> 东北角纬度：</td><td> 14.0930</td></tr>
				<tr><td>数据采集开始时间（UTC）：</td><td> 2016-04-15 23:17:17</td><td> 东北角经度：</td><td> 177.8053 </td><tr>
				<tr><td>数据采集结束时间（UTC）：</td><td> 2016-04-16 01:03:14</td><td> 东南角纬度：</td><td> -1.3393 </td><tr>
				<tr><td>数据生成时间：</td><td> 2016-04-16 05:35:11</td><td> 东南角经度：</td><td> 148.598390</td><tr> 
				<tr><td>数据大小：</td><td> 14,913,838</td><td> 西北角纬度：</td><td> 17.329580 </td><tr>
				<tr><td>质量评价标志：</td><td> 1</td><td> 西北角经度：</td><td> 157.7408 </td><tr>
				<tr><td>总扫描线数：</td><td></td><td> 西南角纬度：</td><td> 1.800440 </td><tr>
				<tr><td>实际扫描线数：</td><td></td><td> 西南角经度：</td><td> 129.245330</td><tr>
			</table>
			<div class = "dataImage">
				<img src = "http://img.nsmc.org.cn/IMG_LIB/QUICKVIEW/FY3C/FY3C_ERBMX_ORBT_L2_FTS_MLT_NUL_YYYYMMDD_HHmm_028KM_MS.HDF/20160415/FY3C_ERBMX_ORBT_L2_FTS_MLT_NUL_20160415_2317_028KM_MS.HDF.jpg" height="800px"/>
			</div>
		</div>
	<div>
{% endblock %}
