{% extends "base.html" %}
{% block title %} welcome  {% endblock %}    
{% block main_body %}
    <div class="row clearfix width-parent-70" style="background: rgba(6,135,147,0.5);">
        <div class="col-md-3 horizontal-center">
            <h4 class="city_name">北京</h4>
            <p class="date-time-index">2016-05-16 周一</p>
            <p class="today-time" title="更新时间 20:40">20:40</p>
        </div>

        <div class="col-md-6 horizontal-center">
            <div class="slider_states">
                <p class="slider_whicon_w"><img class="slider_whicon png24" src="http://www.sinaimg.cn/dy/weather/main/index14/007/icons_128_wt/w_01_01_01.png" height="128" width="128" alt="晴"></p>
                <div class="today-degree">26℃</div>
                <p class="today-detail">
                    晴&nbsp;&nbsp;|&nbsp;&nbsp;西南风3级&nbsp;&nbsp;|&nbsp;&nbsp;湿度：22%
                </p>
            </div>
        </div>
        <div class="col-md-3 horizontal-center">
            <div class="warning-box">
                <h6 class="warning-index">污染指数</h6>
                <p class="warning-value">43</p>
                <div class="horizontal-center">
                    优
{#                    <span class="slider_warn_map_i horizontal-center-absolute"></span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i0 slider_warn_map_i_on">&nbsp;</span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i1 horizontal-center-absolute">&nbsp;</span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i2 horizontal-center-absolute">&nbsp;</span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i3 horizontal-center-absolute">&nbsp;</span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i4 horizontal-center-absolute">&nbsp;</span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i5 horizontal-center-absolute">&nbsp;</span>#}
                </div>


            </div>

        </div>
    </div>
    <div class="row clearfix width-parent-70" style="background: rgba(0,0,0,0.75);">
        <div class="row clearfix">
            <div class="col-md-2 col-sm-12 horizontal-text-center" style="text-align: center;">
                <h2 style="font-size: 18px;color: #FFFFFF;font-weight: bold;">一周天气</h2>
            </div>
            <div class="col-md-10 hidden-sm"></div>
        </div>
        <div class="clearfix week-weather">
            <div class="col-md-2">
                <div>05-19</div>
                <div>星期四</div>
                <div>白天/黑夜</div>
                <div>29℃/13℃</div>
                <div>南风 3级</div>
                <span class="week-weather-info">72 良</span>
            </div>
            <div class="col-md-2">
                <div>05-19</div>
                <div>星期四</div>
                <div>白天/黑夜</div>
                <div>29℃/13℃</div>
                <div>南风 3级</div>
                <span class="week-weather-info">72 良</span>
            </div>
            <div class="col-md-2">
                <div>05-19</div>
                <div>星期四</div>
                <div>白天/黑夜</div>
                <div>29℃/13℃</div>
                <div>南风 3级</div>
                <span class="week-weather-info">72 良</span>
            </div>
            <div class="col-md-2">
                <div>05-19</div>
                <div>星期四</div>
                <div>白天/黑夜</div>
                <div>29℃/13℃</div>
                <div>南风 3级</div>
                <span class="week-weather-info">72 良</span>
            </div>
            <div class="col-md-2">
                <div>05-19</div>
                <div>星期四</div>
                <div>白天/黑夜</div>
                <div>29℃/13℃</div>
                <div>南风 3级</div>
                <span class="week-weather-info">72 良</span>
            </div>
            <div class="col-md-2">
                <div>05-19</div>
                <div>星期四</div>
                <div>白天/黑夜</div>
                <div>29℃/13℃</div>
                <div>南风 3级</div>
                <span class="week-weather-info">72 良</span>
            </div>
        </div>
    </div>
    <div class="row clearfix width-parent-70" style="background: rgba(0,0,0,0.75);margin-top: 10px;">
        <div class="col-md-6 index-tab-item">
            <ul class="nav nav-tabs" role = "tablist">
                <li class="active" role = "presentation">
                     <a href="#temperature" aria-controls="temperature" role="tab" data-toggle="tab" >气温</a>
                </li>
                <li role = "presentation">
                     <a href="#rainfall" aria-controls="rainfall" role="tab" data-toggle="tab" >降雨量</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="temperature">
                    <div class = "clearfix">
                        <div id="temperature-chart" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="rainfall">
                    <div class="clearfix">
                        <div id="rainfall-chart"    style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <h5 style="color: #337ab7;">气象云图</h5>
            <img id="nephogram" src="http://image.nmc.cn/product/2016/05/15/WXCL/small/SEVP_NSMC_WXCL_ASC_E99_ACHN_LNO_PY_20160515001500000.JPG"
                 width="100%" height="300">
        </div>
    </div>


    <div class = "row clearfix main_body width-parent-70" style="background: rgba(0,0,0,0.75);margin-top: 10px;">
        <div class = "clearfix">
            <div class = "col-md-8">
                <div class="clearfix main-city">
                    <h5 style="color: #337ab7;">重点城市</h5>
                    <div class="col-md-3">
                        <div class="alert alert-success horizontal-center">
				            <h4>上海</h4>
				            <h4>温度：21.3℃</h4>
				            <h4>高温：32℃</h4>
				            <h4>低温：12℃</h4>
				            <h4>优</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-success horizontal-center">
				            <h4>深圳</h4>
				            <h4>温度：25.0℃</h4>
				            <h4>高温：32℃</h4>
				            <h4>低温：12℃</h4>
				            <h4>优</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-success horizontal-center">
				            <h4>重庆</h4>
				            <h4>温度：20.3℃</h4>
				            <h4>高温：32℃</h4>
				            <h4>低温：12℃</h4>
				            <h4>优</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-success horizontal-center">
				            <h4>合肥</h4>
				            <h4>温度：23.9℃</h4>
				            <h4>高温：32℃</h4>
				            <h4>低温：12℃</h4>
				            <h4>优</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-success horizontal-center">
				            <h4>长沙</h4>
				            <h4>温度：20.2℃</h4>
				            <h4>高温：32℃</h4>
				            <h4>低温：12℃</h4>
				            <h4>优</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-success horizontal-center">
				            <h4>福州</h4>
				            <h4>温度：21.1℃</h4>
				            <h4>高温：32℃</h4>
				            <h4>低温：12℃</h4>
				            <h4>优</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-success horizontal-center">
				            <h4>福州</h4>
				            <h4>温度：26.3℃</h4>
				            <h4>高温：32℃</h4>
				            <h4>低温：12℃</h4>
				            <h4>优</h4>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="alert alert-success horizontal-center">
				            <h4>北京</h4>
				            <h4>温度：12℃</h4>
				            <h4>高温：32℃</h4>
				            <h4>低温：12℃</h4>
				            <h4>优</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-4 up_border horizontal-center">
                <img alt = "quote" src = "/web_media/images/gongpeng.png">
                <h3>智慧环保平台，环保生活</h3>
                <div>
                    <h4>水文|环境|生活</h4>
                </div>
                <button type="button" class="btn btn-primary btn-lg" style="width:40%;margin-left: 5%;" onclick="window.location.href='/air'">信息观测</button>
                <button type="button" class="btn btn-success btn-lg" style="width:40%;margin-left: 5%;">产品介绍</button>
            </div>
        </div>
    </div>
{% endblock %}
