{% extends "base.html" %}
{% block title %} welcome  {% endblock %}    
{% block main_body %}
    <div class="row clearfix width-parent-70" style="background: rgba(6,135,147,0.5);">
        <div class="col-md-3 horizontal-center">
            <h4 class="city_name"><span name="latest_location">{{ latest.location }}</span>&nbsp;
                <a id="" href="#place-choice" role="button" class="glyphicon glyphicon-edit hander" data-toggle="modal"
                style="font-size: 16px;color: #fff;text-decoration: none;"></a>
            </h4>

            <p class="date-time-index">{{ latest.date }}</p>
            <p class="today-time" title="当前时间"></p>
        </div>

        <div class="col-md-6 horizontal-center">
            <div class="slider_states">
                <p class="slider_whicon_w"><img class="slider_whicon png24" src="http://www.sinaimg.cn/dy/weather/main/index14/007/icons_128_wt/w_02_08_00.png" height="128" width="128" alt="晴"></p>
                <div class="today-degree">{{ latest.temperature }}℃</div>
                <p class="today-detail">
                    {{ latest.weather }}&nbsp;&nbsp;|&nbsp;&nbsp;{{ latest.cloud }}{{ latest.cloud_speed }}级&nbsp;&nbsp;|&nbsp;&nbsp;湿度：{{ latest.humidity }}%
                </p>
            </div>
        </div>
        <div class="col-md-3 horizontal-center">
            <div class="warning-box">
                <h6 class="warning-index">污染指数</h6>
                <p class="warning-value">{{ latest.pm25 }}</p>
                <div class="horizontal-center">
                    优
{#                    <span class="slider_warn_map_i horizontal-center-absolute"></span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i0 slider_warn_map_i_on">&nbsp;</span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i1 horizontal-center-absolute">&nbsp;</span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i2 horizontal-center-absolute">&nbsp;</span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i3 horizontal-center-absolute">&nbsp;</span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i4 horizontal-center-absolute">&nbsp;</span>#}
{#                    <span class="slider_warn_map_i slider_warn_map_i5 horizontal-center-absolute">&nbsp;</span>#}
                </div>


            </div>

        </div>
    </div>
    <div class="row clearfix width-parent-70" style="background: rgba(0,0,0,0.75);">
        <div class="row clearfix">
            <div class="col-md-2 col-sm-12 horizontal-text-center" style="text-align: center;">
                <h2 style="font-size: 18px;color: #FFFFFF;font-weight: bold;">一周天气</h2>
            </div>
            <div class="col-md-10 hidden-sm"></div>
        </div>
        <div class="clearfix week-weather">
            {% for fore in forecast %}
            <div class="col-md-2">
                <div>{{ fore.date }}</div>
                <div>{{ fore.week }}</div>
                <div>{{ fore.weather_day }}/{{ fore.weather_night }}</div>
                <div>{{ fore.high_temperature }}℃/{{ fore.low_temperature }}℃</div>
                <div>{{ fore.cloud }} {{ fore.cloud_speed }}</div>
{#                <span class="week-weather-info">72 良</span>#}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row clearfix width-parent-70" style="background: rgba(0,0,0,0.75); margin-top: 10px;">
        <div class="row clearfix">
            <div class="col-md-2 col-sm-12 horizontal-text-center" style="text-align: center;">
                <h2 style="font-size: 18px;color: #FFFFFF;font-weight: bold;">一周气温趋势</h2>
            </div>
            <div class="col-md-10 hidden-sm"></div>
        </div>
        <div class="clearfix week-weather-line">
            <div id="forecast-chart" style="height: 250px; width: 100%;"></div>
        </div>
    </div>
    <div class="row clearfix width-parent-70" style="background: rgba(0,0,0,0.75);margin-top: 10px;">
        <div class="col-md-6 index-tab-item">
            <ul class="nav nav-tabs" role = "tablist">
                <li class="active" role = "presentation">
                     <a href="#temperature" aria-controls="temperature" role="tab" data-toggle="tab" >气温</a>
                </li>
                <li role = "presentation">
                     <a href="#rainfall" aria-controls="rainfall" role="tab" data-toggle="tab" >降雨量</a>
                </li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="temperature">
                    <div class = "clearfix">
                        <div id="temperature-chart" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active" id="rainfall">
                    <div class="clearfix">
                        <div id="rainfall-chart"    style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <h5 style="color: #337ab7;">气象云图</h5>
            <img id="nephogram" src="http://image.nmc.cn/product/2016/05/18/WXCL/small/SEVP_NSMC_WXCL_ASC_E99_ACHN_LNO_PY_20160518004500000.JPG"
                 width="100%" height="300">
        </div>
    </div>


    <div class = "row clearfix main_body width-parent-70" style="background: rgba(0,0,0,0.75);margin-top: 10px;">
        <div class = "clearfix">
            <div class = "col-md-8">
                <div class="clearfix main-city">
                    <h5 style="color: #337ab7;">重点城市</h5>
                    <div class="col-md-4">
                        <div class="alert alert-success horizontal-center row">
				            <div class="col-md-6">
                                <img src="/web_media/images/icon_tianjin.jpg" class="img-rounded" style="width: 80px; height: 80px;">
                            </div>
                            <div class="col-md-6 horizontal-text-center">
                                <h4  style="line-height: 80px;">天津</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b01 horizontal-text-center"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b02 horizontal-text-center"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="line-height: 30px;">16/26</div>
                            <div class="col-md-6">微风</div>
                            <div class="col-md-6">1级</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success horizontal-center row">
				            <div class="col-md-6">
                                <img src="/web_media/images/icon_taiyuan.jpg" class="img-rounded" style="width: 80px; height: 80px;">
                            </div>
                            <div class="col-md-6 horizontal-text-center">
                                <h4  style="line-height: 80px;">太原</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b01 horizontal-text-center"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b02 horizontal-text-center"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="line-height: 30px;">16/26</div>
                            <div class="col-md-6">微风</div>
                            <div class="col-md-6">1级</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success horizontal-center row">
				            <div class="col-md-6">
                                <img src="/web_media/images/icon_shijiazhuang.jpg" class="img-rounded" style="width: 80px; height: 80px;">
                            </div>
                            <div class="col-md-6 horizontal-text-center">
                                <h4  style="line-height: 80px;">石家庄</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b04 horizontal-text-center"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b01 horizontal-text-center"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="line-height: 30px;">16/26</div>
                            <div class="col-md-6">微风</div>
                            <div class="col-md-6">1级</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success horizontal-center row">
				            <div class="col-md-6">
                                <img src="/web_media/images/icon_shanghai.jpg" class="img-rounded" style="width: 80px; height: 80px;">
                            </div>
                            <div class="col-md-6 horizontal-text-center">
                                <h4  style="line-height: 80px;">上海</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b03 horizontal-text-center"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b04 horizontal-text-center"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="line-height: 30px;">11/21</div>
                            <div class="col-md-6">微风</div>
                            <div class="col-md-6">1级</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success horizontal-center row">
				            <div class="col-md-6">
                                <img src="/web_media/images/icon_guangzhou.jpg" class="img-rounded" style="width: 80px; height: 80px;">
                            </div>
                            <div class="col-md-6 horizontal-text-center">
                                <h4  style="line-height: 80px;">广州</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b01 horizontal-text-center"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b02 horizontal-text-center"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="line-height: 30px;">11/33</div>
                            <div class="col-md-6">微风</div>
                            <div class="col-md-6">1级</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="alert alert-success horizontal-center row">
				            <div class="col-md-6">
                                <img src="/web_media/images/icon_shenzhen.jpg" class="img-rounded" style="width: 80px; height: 80px;">
                            </div>
                            <div class="col-md-6 horizontal-text-center">
                                <h4  style="line-height: 80px;">深圳</h4>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b01 horizontal-text-center"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="weather_icon_blue30 b03 horizontal-text-center"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="line-height: 30px;">16/26</div>
                            <div class="col-md-6">微风</div>
                            <div class="col-md-6">1级</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-4 up_border horizontal-center" style="color:white;">
                <img alt = "quote" src = "/web_media/images/gongpeng.png" width="100%">
                <h3>智慧环保平台，环保生活</h3>
                <div>
                    <h4>水文|环境|生活</h4>
                </div>
                <button type="button" class="btn btn-primary" style="width:40%;margin-left: 5%;" onclick="window.location.href='/air'">信息观测</button>
                <button type="button" class="btn btn-success" style="width:40%;margin-left: 5%;">产品介绍</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block small-window %}
<div class="modal fade" id="place-choice" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    请选择城市
                </h4>
            </div>
            <div class="modal-body">
                <div class="clearfix">
                    {% for city in city_list %}
                        <div class="horizontal-center col-md-2 img-rounded hander city-choice-item">{{ city }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary">确认</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script>
$(function(){
    forecast_line();
});
function forecast_line(){
    var date = new Array();
    var high = new Array();
    var low = new Array();
    {% for fore in forecast %}
        var day = "{{ fore.date }}";
        date.push("{{ fore.date }}");
        high.push(parseFloat("{{ fore.high_temperature }}"));
        low.push(parseFloat("{{ fore.low_temperature }}"));
    {% endfor %}
    var chart = new CanvasJS.Chart("forecast-chart", {
        backgroundColor: "rgba(0,0,0,0.75)",
        fontColor: "red",
        title:{
        },
        data: [{
            type: "line",

            dataPoints: [
                { x: 1, y: low[0]   ,indexLabel:  low[0] + "℃", label: date[0]},
                { x: 2, y: low[1], indexLabel:  low[1] + "℃", label: date[1] },
                { x: 3, y: low[2], indexLabel:  low[2] + "℃", label: date[2] },
                { x: 4, y: low[3] , indexLabel:  low[3] + "℃", label: date[3]},
                { x: 5, y: low[4] , indexLabel:  low[4] + "℃", label: date[4]},
                { x: 6, y: low[5], indexLabel:  low[5] + "℃", label: date[5] }
            ]
        }, {
            type: "line",
            dataPoints: [
            { x: 1, y: high[0] , indexLabel:  high[0] + "℃",label: date[0]},
            { x: 2, y: high[1], indexLabel:  high[1] + "℃", label: date[1] },
            { x: 3, y: high[2], indexLabel:  high[2] + "℃", label: date[2] },
            { x: 4, y: high[3] , indexLabel:  high[3] + "℃", label: date[3]},
            { x: 5, y: high[4] , indexLabel:  high[4] + "℃", label: date[4]},
            { x: 6, y: high[5], indexLabel:  high[5] + "℃", label: date[5] }
            ]
        }
        ]
    });
    chart.render();
}

</script>
{% endblock %}