<!DOCTYPE html>
<html>
<head>
    <meta charset = "UTF8">
    <title>Welcom</title>
	<meta name = "viewport" content = "width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<link rel="stylesheet" type="text/css"  href = "/web_media/css/bootstrap.min.css">
	
	<link rel="stylesheet" type="text/css" href = "/web_media/css/style.css">
</head>
<body style = "background-image:url(/web_media/images/blue_sky.png);background-size:cover;">
	<div class = "container container_opacity" style = "width:100%;padding-left:0;padding-right:0;">
		<header class = "light_blue">
			<div class="row clearfix head_item">
				<div class = "col-md-6 column">
					今天是2016年3月14日 星期一 农历二月初六
				</div>
				<div class = "col-md-2 column col-md-offset-1">
					手机客户端
				</div>
				<div class = "col-md-2 column col-md-offset-1">
					联系我们
				</div>
			</div>
			<div class = "row clearfix head_item head pad">
				<div class = "col-md-4" style = "height:34px;line-height:34px">
					<img class = "img_rounded"  src = "/web_media/images/Chine_weather.png">
				</div>
				<div class = "col-md-4">
					<div class = "input-group">
						<input type = “text” class = "form-control">
						<span class = "input-group-addon" >Search</span>
					</div>
				</div>
				<div class = "col-md-4" style = "height:34px;line-height:34px;text-align:right;">
					15C/3C 多云
				</div>
			</div>
			<div class = "row clearfix head_item head pad navigation_item">
				<div class = "col-md-2">首页</div>
				<div class = "col-md-2">数据</div>
				<div class = "col-md-2">产品</div>
				<div class = "col-md-2">资料</div>
				<div class = "col-md-2">软件</div>
				<div class = "col-md-2">服务</div>
			</div>
		</header>
		<div class = "main_body">
			<div class = "row clearfix">
				<div class = "col-md-8">
					<section>
						<ul class="nav nav-tabs" role = "tablist">
							<li class="active" role = "presentation">
								 <a href="#today" aria-controls="today" role="tab" data-toggle="tab" >今日天气</a>
							</li>
							<li role = "presentation">
								 <a href="#week" aria-controls="week" role="tab" data-toggle="tab" >七日天气</a>
							</li>
							<li role = "presentation">
								 <a href="#month" aria-controls="month" role="tab" data-toggle="tab" >一月天气</a>
							</li>
							<li role = "presentation">
								 <a href="#year" aria-controls="year" role="tab" data-toggle="tab" >一年天气</a>
							</li>
						</ul>
						
						<div class="tab-content">
   							<div role="tabpanel" class="tab-pane active" id="today">
								<div class = "row clearfix">
									<div class = "col-md-7" id = "real_windy_speed">
										<div id = "real_wind" class = "w100"></div>
										<div style = "float:left;padding-left:25%;font: 14px/1.6 'Microsoft Yahei','Tahoma','SimSun';color: #252525;">相对湿度:143</div>
										<div style = "float:right;padding-right:25%;font: 14px/1.6 'Microsoft Yahei','Tahoma','SimSun';color: #252525";>污染值:200</div>	
									</div>
									<div class = "col-md-2 border_1px h100">
										<h1>白天</h1>
										<big class = "weather_icon d00"></big>
										<p class = "wea_info">多云转晴，平原地区有轻微霾</p>
										<p>
											<span>15</span>
											<em>°C</em>
										</p>
									</div>
									<div class = "col-md-2 col-md-offset-1 border_1px h100">
										<h1>晚上</h1>
										<big class = "weather_icon n00"></big>
										<p class = "wea_info">多云转晴，平原地区有轻微霾</p>
										<p>
											<span>15</span>
											<em>°C</em>
										</p>
									</div>
								</div>	
							</div>
    						<div role="tabpanel" class="tab-pane w100" id="week">
								<ul class = "week_weather">
									<li>
										<h1>30日（明天）</h1>
										<big class="weather_icon d00"></big>
										<big class="weather_icon n00"></big>
										<p class="wea" title="晴">晴</p>
										<p class="tem">
											<span>5</span>/
											<i>-6</i>
										</p>
										<p class="win">
											<i>3-4级转微风</i>
										</p>
										<div class="slid"></div>
									</li>
									<li>
										<h1>30日（明天）</h1>
										<big class="weather_icon d00"></big>
										<big class="weather_icon n00"></big>
										<p class="wea" title="晴">晴</p>
										<p class="tem">
											<span>5</span>/
											<i>-6</i>
										</p>
										<p class="win">
											<i>3-4级转微风</i>
										</p>
										<div class="slid"></div>
									</li>
									<li>
										<h1>30日（明天）</h1>
										<big class="weather_icon d00"></big>
										<big class="weather_icon n00"></big>
										<p class="wea" title="晴">晴</p>
										<p class="tem">
											<span>5</span>/
											<i>-6</i>
										</p>
										<p class="win">
											<i>3-4级转微风</i>
										</p>
										<div class="slid"></div>
									</li>
									<li>
										<h1>30日（明天）</h1>
										<big class="weather_icon d00"></big>
										<big class="weather_icon n00"></big>
										<p class="wea" title="晴">晴</p>
										<p class="tem">
											<span>5</span>/
											<i>-6</i>
										</p>
										<p class="win">
											<i>3-4级转微风</i>
										</p>
										<div class="slid"></div>
									</li>
									<li>
										<h1>30日（明天）</h1>
										<big class="weather_icon d00"></big>
										<big class="weather_icon n00"></big>
										<p class="wea" title="晴">晴</p>
										<p class="tem">
											<span>5</span>/
											<i>-6</i>
										</p>
										<p class="win">
											<i>3-4级转微风</i>
										</p>
										<div class="slid"></div>
									</li>
									<li>
										<h1>30日（明天）</h1>
										<big class="weather_icon d00"></big>
										<big class="weather_icon n00"></big>
										<p class="wea" title="晴">晴</p>
										<p class="tem">
											<span>5</span>/
											<i>-6</i>
										</p>
										<p class="win">
											<i>3-4级转微风</i>
										</p>
										<div class="slid"></div>
									</li>
									<li>
										<h1>30日（明天）</h1>
										<big class="weather_icon d00"></big>
										<big class="weather_icon n00"></big>
										<p class="wea" title="晴">晴</p>
										<p class="tem">
											<span>5</span>/
											<i>-6</i>
										</p>
										<p class="win">
											<i>3-4级转微风</i>
										</p>
										<div class="slid"></div>
									</li>
								</ul>
							</div>
    						<div role="tabpanel" class="tab-pane w100" id="month">	
								<div id="month_container" style="min-width:700px;height:400px"></div>
							</div>
    						<div role="tabpanel" class="tab-pane w100" id="year">	
								<div id="year_container" style="min-width:700px;height:400px"></div>
							</div>
  						</div>
					</section>
					<section class = "real_info">
						<div class="col-md-12 column">
							<ul class="nav nav-pills" role = "tablist">
								<li role = "presentation" class="pull-right">
									 <a href="#tem" aria-controls="tem" role="tab" data-toggle="tab" >温度</a>
								</li>
								<li role = "presentation" class="pull-right">
									 <a href="#humidity" aria-controls="humidity" role="tab" data-toggle="tab" >湿度</a>
								</li>
								<li role = "presentation" class="pull-right">
									 <a href="#precipitation" aria-controls="precipitation" role="tab" data-toggle="tab" >降水量</a>
								</li>
								<li role = "presentation" class="pull-right">
									 <a href="#cloud" aria-controls="cloud" role="tab" data-toggle="tab" >风力风向</a>
								</li>
								<li role = "presentation" class="active pull-right">
									 <a href="#air_quality" aria-controls="air_quality" role="tab" data-toggle="tab" >空气质量</a>
								</li>
							</ul>
							<div class="tab-content">
   								<div role="tabpanel" class="tab-pane w100" id="tem">
									<div id = "real_info_tem" style = "min-width:700px;height:400px"></div>
								</div>
   								<div role="tabpanel" class="tab-pane w100" id="humidity">
									<div id = "real_info_humidity" style = "min-width:700px;height:400px;"></div>
								</div>
   								<div role="tabpanel" class="tab-pane w100" id="precipitation">
									<div id = "real_info_precipitation" style = "min-width:700px;height:400px;"></div>
								</div>
   								<div role="tabpanel" class="tab-pane w100" id="cloud">
									<div id = "real_info_cloud" style = "min-width:700px;height:400px;"></div>
								</div>
   								<div role="tabpanel" class="tab-pane active w100" id="air_quality">
									<div id = "real_info_air_quality" style = "min-width:700px;height:400px;"></div>
								</div>
							</div>
						</div>
					</section>
				</div>
				<div class = "col-md-4 up_border">
					<img alt = "quote" src = "/web_media/images/gongpeng.png">
					<h3>智慧环保平台，环保生活</h3>
					<div>
                        <h4>水文|环境|生活</h4>
                    </div>
					<button type="button" class="btn btn-primary btn-lg" style="width:40%;margin-left: 5%;" onclick="window.location.href='/air'">信息观测</button>
					<button type="button" class="btn btn-success btn-lg" style="width:40%;margin-left: 5%;">产品介绍</button>
				</div>
			</div>
		</div>
	</div>
	<script type = "text/javascript" src = "/web_media/js/jquery-2.2.1.min.js"></script>
	<script type = "text/javascript" src = "/web_media/js/bootstrap.min.js"></script>
	<script type = "text/javascript" src = "/web_media/js/highcharts.js"></script>
	<script type = "text/javascript" src = "/web_media/js/highcharts-more.js"></script>
	
	<!--[if lt IE 9]>
  		<script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  		<script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script type = "text/javascript" src = /web_media/js/painting.js></script>
</body>
</html>


