{% extends "base.html" %}
{% block title %} data  preview {% endblock %}
{% block main_body %}
<div class =  "main_body">	
	<div class = "clearfix">
		<div class = "col-md-2">
            <p class = "bg-primary btn-sm"><span class = "glyphicon glyphicon-play"></span>&nbsp;材料列表</p>
            <ul class="list-unstyled type-list">
                <li><div class="hander">叶面积指数</div></li>
                <li><div class="">森林面积观测</div></li>
                <li><div class="">空气质量</div></li>
                <li><div class="">水质质量</div></li>
                <li><div class="">下行辐射</div></li>
            </ul>
		</div>
		<div class = "col-md-10">
			<section>
			    <p class = "bg-primary btn-sm"><span class = "glyphicon glyphicon-search"></span>&nbsp;叶面积指数材料列表</p>
			</section>
			<section>
				<table class="table table-striped table-hover">
				<thead class = "btn-info">
					<tr>
						<th>文件</th>
						<th>时间</th>
						<th>大小</th>
						<th>下载</th>
					</tr>
				</thead>
				<tbody>
					<tr class = "data_style">
						<td>风云二号F星LAI业务产品质量分析月报(2015-11)</td>
						<td>2015-11</td>
						<td>3.94MB</td>
						<td><img src = "/web_media/images/download.png"/></td>
					</tr>
					<tr class = "data_style">
						<td>风云二号F星LAI业务产品质量分析月报(2015-12)</td>
						<td>2015-12</td>
						<td>3.94MB</td>
						<td><img src = "/web_media/images/download.png"/></td>
					</tr>
					<tr class = "data_style">
						<td>风云二号F星LAI业务产品质量分析月报(2015-09)</td>
						<td>2015-09</td>
						<td>3.94MB</td>
						<td><img src = "/web_media/images/download.png"/></td>
					</tr>
					<tr class = "data_style">
						<td>风云二号F星LAI业务产品质量分析月报(2015-08)</td>
						<td>2015-08</td>
						<td>3.94MB</td>
						<td><img src = "/web_media/images/download.png"/></td>
					</tr>
					<tr class = "data_style">
						<td>风云二号F星LAI业务产品质量分析月报(2015-07)</td>
						<td>2015-07</td>
						<td>3.94MB</td>
						<td><img src = "/web_media/images/download.png"/></td>
					</tr>
					<tr class = "data_style">
						<td>风云二号F星LAI业务产品质量分析月报(2015-06)</td>
						<td>2015-06</td>
						<td>3.94MB</td>
						<td><img src = "/web_media/images/download.png"/></td>
					</tr>
				</tbody>
			</table>
			</section>
		</div>
	</div>
</div>
{% endblock %}
