{% extends "base.html"%}
{% block title %}卫星云图{% endblock %}

{% block main_body %}
	<div class = "horizontal-center">
	<img id = "nephogram" src = "http://image.nmc.cn/product/2016/05/15/WXCL/small/SEVP_NSMC_WXCL_ASC_E99_ACHN_LNO_PY_20160515001500000.JPG"/>
	</div>

{% endblock %}

{% block js %}
<script>
	var nextTime = 15;
	console.log(nextTime);
	var font = 0;
	function update(){
		console.log(nextTime);
		nextTime = nextTime + 30;
		console.log(nextTime);
		if(nextTime > 60){
			font = font + 1;
			nextTime = 15;
		}
		var nextNum = "";
		if(font < 10){
			nextNum = "0" + font;
		}else{
			nextNum = "" + font;
		}
		console.log(nextNum);
		console.log(nextTime);
		nextNum +=  nextTime.toString();
		console.log(nextNum);
		if(parseInt(nextNum) > 1345){
			nextNum = "0015";
			nextTime = 15;
			font = 0;
		}
		var nextURL = "http://image.nmc.cn/product/2016/05/15/WXCL/small/SEVP_NSMC_WXCL_ASC_E99_ACHN_LNO_PY_20160515" + nextNum + "00000.JPG";
		console.log(nextURL);
        $("#nephogram").attr("src", nextURL);
	}
	$(function(){
        console.log("XXXXX");
		setInterval('update()', 1000);
	});
</script>
{% endblock %}
