{% extends "base.html" %}
{% block title %}在线工具{% endblock %}
{% block main_body %}
	<div class = "main_body" style="background: rgba(6,135,147,0.5);">
        <div class="row clearfix width-parent-70 padT20">
            <div class="col-md-6">
                <div class="alert alert-dismissable alert-success horizontal-center" style="position:relative; height: 100px;">
                    <h4 class="vertical-center">在线计算LAI</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-dismissable alert-info horizontal-center" style="position:relative; height: 100px;">
                    <h4 class="vertical-center">在线计算NDVI</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-dismissable alert-success horizontal-center" style="position:relative; height: 100px;">
                    <h4 class="vertical-center">在线计算LAI</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-dismissable alert-info horizontal-center" style="position:relative; height: 100px;">
                    <h4 class="vertical-center">在线计算NDVI</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-dismissable alert-success horizontal-center" style="position:relative; height: 100px;">
                    <h4 class="vertical-center">在线计算LAI</h4>
                </div>
            </div>
            <div class="col-md-6">
                <div class="alert alert-dismissable alert-info horizontal-center" style="position:relative; height: 100px;">
                    <h4 class="vertical-center">在线计算NDVI</h4>
                </div>
            </div>
        </div>
	<div>
{% endblock %}