{% extends "base.html" %}
{% block title %} data  preview {% endblock %}
{% block main_body %}
<div class =  "main_body">	
	<div class = "clearfix">
		<div class = "col-md-2">
            <p class = "bg-primary btn-sm"><span class = "glyphicon glyphicon-play"></span>&nbsp;产品列表</p>
            <ul class="list-unstyled type-list">
                <li><div class="hander">叶面积指数</div></li>
                <li><div class="">森林面积观测</div></li>
                <li><div class="">空气质量</div></li>
                <li><div class="">水质质量</div></li>
                <li><div class="">下行辐射</div></li>
            </ul>
		</div>
		<div class = "col-md-10">
			<section>
			    <p class = "bg-primary btn-sm"><span class = "glyphicon glyphicon-search"></span>&nbsp;产品列表</p>
			</section>
			<section>
				<table class="table table-striped table-hover">
				<thead class = "btn-info">
					<tr>
						<th>产品ID</th>
						<th>产品名称</th>
						<th>开始时间</th>
						<th>结束时间</th>
						<th>数据大小</th>
						<th>产品介绍</th>
					</tr>
				</thead>
				<tbody>
					<tr class = "data_style">
						<td>1</td>
						<td>新疆省叶面积</td>
						<td>01/04/2011</td>
						<td>01/04/2012</td>
						<td>63.3G</td>
						<td><a href = "{% url 'productInfo' 1%}">链接</a></td>
					</tr>
					<tr class = "data_style">
						<td>2</td>
						<td>甘肃省叶面积</td>
						<td>01/04/2011</td>
						<td>01/04/2012</td>
						<td>63.3G</td>
						<td><a href = "{% url 'productInfo' 1%}">链接</a></td>
					</tr>
					<tr class = "data_style">
						<td>3</td>
						<td>古省叶面积</td>
						<td>01/04/2011</td>
						<td>01/04/2012</td>
						<td>63.3G</td>
						<td><a href = "{% url 'productInfo' 1%}">链接</a></td>
					</tr>
					<tr class = "data_style">
						<td>4</td>
						<td>内蒙古省叶面积</td>
						<td>01/04/2011</td>
						<td>01/04/2012</td>
						<td>63.3G</td>
						<td><a href = "{% url 'productInfo' 1%}">链接</a></td>
					</tr>
					<tr class = "data_style">
						<td>5</td>
						<td>湖北省叶面积</td>
						<td>01/04/2011</td>
						<td>01/04/2012</td>
						<td>63.3G</td>
						<td><a href = "{% url 'productInfo' 1%}">链接</a></td>
					</tr>
				</tbody>
			</table>
			</section>
		</div>
	</div>
</div>
{% endblock %}
