{% extends "base.html" %}
{% block title %}在线工具{% endblock %}
{% block main_body %}
	<div class = "row clearfix main_body" style="background: rgba(6,135,147,0.5);">
        <div class="alert alert-dismissable alert-success horizontal-center"
             style="position:relative; height: 385px;background-color: #49c8f2;">
            <h1>请选择需要进行转换的图片</h1>
            <div class="vertical-center horizontal-center" style="background-color: #46bfe7;border-color: #3ca3c5;width: 90%; margin: 0 auto;border:2px dotted;">
                <div class="glyphicon glyphicon-file padLR20 padTB20" style="font-size:100px; display: none;"></div>
                <div class="glyphicon glyphicon-hand-right padLR20" style="font-size: 100px; display: none;"></div>
                <div class="glyphicon glyphicon-file padLR20" style="font-size:100px; display: none;"></div>
                <button id = "fileinput-select-button" class="btn btn-block btn-info btn-lg horizontal-center" onclick="path.click()">
                   <input type="file" id="path" style="display:none"><span id="btn-tip">选择文件</span>
               </button>
                <div class="padTB20">
                    <button id = "fileinput-transfer-button" class="btn btn-success horizontal-center" style="float: right;">转换</button>
                    <button id = "fileinput-upload-button" class="btn btn-primary horizontal-center" style="float: right;">上传</button>

                </div>
            </div>

        </div>
	<div>
{% endblock %}
{% block js %}
    <script>
        $(function(){
            $("#path").on("change", selectFile);
            $("#fileinput-upload-button").on("click", uploadFile);
            $("#fileinput-transfer-button").on("click", transferFile);
        });
        function selectFile(){
            var fileName = $("#path").val();
            console.log(fileName);
            $("#btn-tip").html(fileName);
            $(".glyphicon").show();
        }
        function uploadFile(){
{#            $(".glyphicon-hand-right").slideDown(5000);#}
{#            $(".glyphicon-hand-right").animate({width:300},"slow");#}
            return false;
            alert("上传图片");
            var file_list = $("#uploadFile").prop('files');

            var fileNum = file_list.length;
            var formdata = new FormData();

            for(var i = 0; i < fileNum; ++i){
                var keyIndex = "thumbnail";
                formdata.append(keyIndex, file_list[i]);
            }

            $.ajax({
                url : "/onlineTool/upload/",
                type : "POST",
                cache : false,
                data : formdata,
                processData : false,
                contentType : false
            }).done(function(res){
                alert("上传成功");
                return false;
            }).fail(function(res){
                alert("错误");
                return false;
            });

        }
    function transferFile(){
{#        $(".transfer-ok").show();#}
    }
    </script>
{% endblock %}