{% extends "base.html" %}
{% block title %}在线工具{% endblock %}
{% block main_body %}
	<div class = "row clearfix main_body" style="background: rgba(6,135,147,0.5);">
        <div class="alert alert-dismissable alert-success horizontal-center" style="position:relative; height: 385px;background-color: #49c8f2;">
            <div class="vertical-center" style="background-color: #46bfe7;border-color: #3ca3c5; width: 90%; height: 90%; margin: 0 auto;
            border:2px dotted;">
                <form enctype="multipart/form-data">


                <div class="form-group">
                    <input id="file-1" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="2">
                </div>
                <hr>

            </form>
            </div>
        </div>
	<div>
{% endblock %}
{% block js %}
        <script>
	    $("#file-1").fileinput({
	        uploadUrl: '#', // you must set a valid URL here else you will get an error
	        allowedFileExtensions : ['jpg', 'png','gif'],
	        overwriteInitial: false,
	        maxFileSize: 1000,
	        maxFilesNum: 10,
	        //allowedFileTypes: ['image', 'video', 'flash'],
	        slugCallback: function(filename) {
	            return filename.replace('(', '_').replace(']', '_');
	        }
		});
		</script>
	{% endblock %}